<% include header %>

<div id="container" class="container">
    <div class="row">
        <div id="title" class="col-sm-12">
            <h1></h1>
        </div>
    </div>

    <div id="driver-photos"></div>
</div>
<div id="message">Loading your report!</div>
<script src="/js/report.js"></script>
<% include footer %>